<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pico.min.css">
    <title>Exercise Tracker</title>
    <script src="formvalidation.js"></script>
    <style>
        h1{
            text-align: center;
        }
    </style>
    <h1>Workout Tracker APP</h1>
</head>
<body>
    <br><h2>Create Account</h2><br>
    <form action="/Creating-Account" method="POST">
        <h4>Email:</h4><input id="email" name="email" type="email" required>
        <h4>Name:</h4><input id="name" name="name">
        <h4>Username:</h4><input id="username" name="username" required>
        <h4>Password:</h4><input id="password" name="password" type="password" required>
        <h4>Retype Password:</h4><input id="password" name="password" type="password" required>
        <input type="submit">
    </form>
    <p>If you already have an account, click <a>here</a></p>
</body>
</html>