<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="pico.min.css">
    <title>Exercise Tracker</title>
    <script src="app.js"></script>
    <style>
        h1{
            text-align: center;
        }
        .errorMessage{
            color: red;
        }
    </style>
    <h1>Workout Tracker APP</h1>
</head>
<body>
    <br><h2>Login</h2><br>
    <form action="/Login-Attempt" method="POST">
        <h3>Username:</h3><input id="username" name="username" required>
        <h3>Password:</h3><input id="password" name="password" type="password" required>
        <input type="submit">
        {{#if error}}
        <p class="errorMessage">{{error}}</p>
    </form>
    <p>If you don't have an account, click <a href="/Create-Account">here</a></p>
</body>
</html>